# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.myenv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Migrations cache
alembic/versions/__pycache__/

# Test cache
.pytest_cache/
